/* 
===================
Eliminar padding y margenes por defecto del contenido 
===================
*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: var(--RalewayRegular);
    font-size: 16px;
    color: var(--dark-green);
}

body {
    box-sizing: border-box;
    background-color: var(--light-grey);
}

/* 
===================
SVG iconos
===================
*/
.svg-logo {
    width: 15px;
    height: 15px;
}

